.image-container-drone {
    position: relative;
    animation: monterDescendre 6s infinite;
  }
  
  @keyframes monterDescendre {
    0%, 100% {
      transform: translateY(0);
      
    }
    50% {
      transform: translateY(-2vw); /* Ajustez la valeur pour le déplacement souhaité */
    }
  }